# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencies
node_modules/
.pnpm-store/

# Production build
dist/
dist-ssr/
*.local

# Environment variables
.env
.env.local
.env.*.local
.env.*
!.env.example

# IDE & OS files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvsopt
*.njsproj
*.sln
*.sw?

# Temp extraction folders
file-1745432916167-910662924/
file-1745432916167-910662924.zip
